{% extends 'base.html' %}

{% block title %}Respostas{% endblock %}

{% block header %}
<h1 class="text-center py-2 bg-primary text-white rounded-bottom">Respostas</h1>
{% endblock %}

{% block style %}
<style type="text/css">
	.table tbody tr:last-child td {
		border-bottom: none;
	}
</style>
{% endblock %}

{% block content %}

<hr class="border-white">

<button class="btn btn-primary" id="carregar-mensagens">Carregar Respostas</button>
<button class="btn btn-success" id="salvar-mensagens">Salvar Respostas</button>

<hr class="border-white">

<div class="table-responsive">
	<table class="table mb-0">
		<thead>
			<tr>
				<th>Chave</th>
				<th>Respostas</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody id="table-body">
		</tbody>
	</table>
</div>

<div hidden>
	<form id="edit-form">
		<div class="mb-3">
			<label for="edit-key" class="form-label fw-bold">Chave:</label>
			<input type="text" class="form-control bg-light no-focus" name="edit-key" readonly>
		</div>
		<div class="mb-3">
			<label for="edit-message-select" class="form-label fw-bold">Respostas:</label>
			<select class="form-control no-focus" name="edit-message-select"></select>
		</div>
		<div class="mb-3">
			<label for="edit-message" class="form-label fw-bold">Texto:</label>
			<textarea class="form-control no-focus" name="edit-message" rows="5"></textarea>
		</div>
	</form>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
	var jsonData = {};

	function truncateMessage(message, size=50) {
		return message.length > size ? message.substring(0, size) + '...' : message;
	}

	function populateTable() {
		const tableBody = document.getElementById('table-body');
		if(!tableBody) return
		tableBody.innerHTML = '';

		Object.keys(jsonData).forEach((key) => {
			const row = document.createElement('tr');
			const keyCell = document.createElement('td');
			const messageCell = document.createElement('td');
			const actionsCell = document.createElement('td');

			keyCell.textContent = key;
			msgs = []

			jsonData[key].forEach((value, index) => {
				msgs.push('<span class="text-primary">'+(index+1) +'º</span> '+ truncateMessage(value, 100))
			})

			messageCell.innerHTML = msgs.join('<br/>');

			const editButton = document.createElement('button');
			editButton.setAttribute('type', 'button');
			editButton.setAttribute('class', 'btn btn-primary');
			editButton.setAttribute('onclick', `editItem('${key}')`);
			editButton.textContent = 'Editar';

			actionsCell.appendChild(editButton);

			row.appendChild(keyCell);
			row.appendChild(messageCell);
			row.appendChild(actionsCell);

			tableBody.appendChild(row);
		});
	}

	function editItem(key) {
		const form = document.getElementById('edit-form').parentNode.innerHTML;

		Swal.fire({
			title: 'Editar Item',
			html: form,
			showCancelButton: true,
			showConfirmButton: true,
			confirmButtonText: 'Alterar',
			cancelButtonText: 'Cancelar',
			confirmButtonColor: '#198754',
			cancelButtonColor: '#d33',
			didOpen: () => {
				const formContainer = Swal.getHtmlContainer();

				const editKeyInput = formContainer.querySelector('[name=edit-key]');
				const editMessageSelect = formContainer.querySelector('[name=edit-message-select]');

				editKeyInput.value = key;
				editMessageSelect.innerHTML = '';

				const option = document.createElement('option');
				option.innerHTML = '- Nova Resposta -'
				option.value = ''

				editMessageSelect.appendChild(option);

				jsonData[key].forEach((message, index) => {
					const option = document.createElement('option');
					option.innerHTML = message
					option.value = index

					editMessageSelect.appendChild(option);
				});

				formContainer.querySelector('[name=edit-message-select]').addEventListener('change', (e) => {
					const editMessageSelect = e.target;
					const editMessageTextarea = formContainer.querySelector('[name=edit-message]');
					const option = editMessageSelect.options[editMessageSelect.selectedIndex];

					editMessageTextarea.value = option.value ? option.innerHTML : '';
				});

				editMessageSelect.focus();

				const event = new Event('change', { bubbles: true });
				editMessageSelect.dispatchEvent(event);
			},
			preConfirm: () => {
				return new Promise((resolve, reject) => {
					const formContainer = Swal.getHtmlContainer();

					const editMessageSelect = formContainer.querySelector('[name=edit-message-select]');
					const editMessageTextarea = formContainer.querySelector('[name=edit-message]');

					if (editMessageTextarea.value === '') {
						if(editMessageSelect.value === '') {
							Swal.showValidationMessage('Campo Texto não preenchido');
							reject(new Error('Campo Texto não preenchido'));
						}else {
							resolve();
						}
					} else {
						resolve();
					}
				}).catch(error => {
							// console.warn('Erro:', error);
						});
			}
		}).then((value) => {
			if (value.dismiss === Swal.DismissReason.cancel) {
				console.log('Botão de cancelar clicado');
			}

			if (value.isConfirmed) {
				const formContainer = Swal.getHtmlContainer();
				const form_2 = formContainer.querySelector('form');

				const editKeyInput = formContainer.querySelector('[name=edit-key]');
				const editMessageSelect = formContainer.querySelector('[name=edit-message-select]');
				const editMessageTextarea = formContainer.querySelector('[name=edit-message]');

				const key = editKeyInput.value;
				const message = editMessageSelect.value;
				const new_message = editMessageTextarea.value;

				console.log(key, message, new_message);

				if(editMessageSelect.value === '') {
					jsonData[key].push(new_message);

					Swal.fire('Sucesso', 'Item adicionado com sucesso!', 'success');
				}else{
					jsonData[key][message] = new_message;

					if(new_message.length) {
						Swal.fire('Sucesso', 'Item atualizado com sucesso!', 'success');
					}else{
						if (message !== -1) {
							jsonData[key] = jsonData[key].filter(element => element !== "");
						}

						Swal.fire('Sucesso', 'Item removido com sucesso!', 'success');
					}
				}

				populateTable();
			}
		});
	}

	function salvarArquivoJson() {
		try {
			fetch('{{ url_for("respostas.save") }}', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(jsonData)
			})
			.then(response => response.json())
			.then(responseData => {
				console.log('Resposta do servidor:', responseData);
				if(responseData.status == 'success') {
					Swal.fire({title:'Sucesso', icon:'success', text: responseData.message, didClose: () => {

					}});
				}else{
					Swal.fire({title:'Falha', icon:'error', text: responseData.message});
				}
			}).catch(error => {
				Swal.fire({title:'Falha ao atualizar o arquivo JSON', icon:'error', text: error});
			});
		} catch (error) {
			Swal.fire({title:'Falha ao atualizar o arquivo JSON', icon:'error', text: error});
		}
	}

	function carregarArquivoJson(silent=false) {
		try {
			fetch('/static/jsons/respostas.json')
			.then(response => response.json())
			.then(data => {
				jsonData = data;
				populateTable();
				if(!silent)
					Swal.fire({title:'Sucesso', icon:'success', text: 'Respostas '+Object.keys(jsonData).length+' carregadas'});
			})
			.catch(error => {
				console.error(error);
			});
		} catch (error) {
			Swal.fire({title:'Falha ao atualizar o arquivo JSON', icon:'error', text: error});
		}
	}

	document.getElementById('carregar-mensagens').addEventListener('click', function(){
		Swal.fire({
			title: 'Deseja carregar?',
			text: 'Você deseja carregar as respostas?',
			icon: 'question',
			showCancelButton: true,
			confirmButtonText: 'Carregar',
			cancelButtonText: 'Cancelar',
			confirmButtonColor: '#198754',
			cancelButtonColor: '#d33'
		}).then((result) => {
			if (result.isConfirmed) {
				carregarArquivoJson();
			}
		});
	});

	document.getElementById('salvar-mensagens').addEventListener('click', function(){
		Swal.fire({
			title: 'Deseja salvar?',
			text: 'Você deseja salvar as respostas?',
			icon: 'question',
			showCancelButton: true,
			confirmButtonText: 'Salvar',
			cancelButtonText: 'Cancelar',
			confirmButtonColor: '#198754',
			cancelButtonColor: '#d33'
		}).then((result) => {
			if (result.isConfirmed) {
				salvarArquivoJson();
			}
		});
	});

	window.addEventListener('pywebviewready', function() {
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 1000,
			timerProgressBar: true,
			didOpen: (toast) => {
						// toast.addEventListener('mouseenter', Swal.stopTimer)
						// toast.addEventListener('mouseleave', Swal.resumeTimer)
					}
				});

		Toast.fire({
			icon: 'success',
			title: 'pywebview is ready'
		});

		carregarArquivoJson(true);
		populateTable();
	});

	window.addEventListener('load', function() {
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 1000,
			timerProgressBar: true,
			didOpen: (toast) => {
						// toast.addEventListener('mouseenter', Swal.stopTimer)
						// toast.addEventListener('mouseleave', Swal.resumeTimer)
					}
				});

		Toast.fire({
			icon: 'success',
			title: 'load is ready'
		});

		carregarArquivoJson(true);
		populateTable();
	});
</script>
{% endblock %}